<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        function submit() {
            axios.post('/login/', JSON.stringify({username: 'example', password: '123qwe'})).then(response => {
                console.log(response)
            })
        }
        function registration() {
            axios.post('/registration/', JSON.stringify({username: 'example', email: 'ex@ex.ua', password: '123qwe'})).then(
                response => console.log(response)
            )
        }
    </script>
    <style>
        #parent {
            display: table;
            width: 100%;
        }
        #login {
           display: table-cell;
           text-align: center;
           vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="parent">
    <div id="login">
        <input type="button" value="Login" onclick="submit()">
        <input type="button" value="reg" onclick="registration()">
    </div>
</div>
</body>
</html>